body{
    width: 100vw;
    overflow: inherit;
}
.navbar{
    flex-direction: column;
    height: auto;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 15px;
}
.logo{
    width: 60px;
}
.navbar ul li{
    padding-top: 10px;
}
.navbar ul li a{
    font-size: 10px;
    padding: 10px;
}
.navbar ul li a:hover{
    background: #f4f4f4;
    color:#FE4B2E;
}
#order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.food{
    width: 100%;
    text-align: center;
    padding-bottom: 70px;
}
.food h1{
    font-size: 35px;
}
.food p{
    padding: 0 20px;
    padding-bottom: 40px;
}
.food img{
    width: 70%;
}
#about{
    flex-direction:inherit; 
    justify-content: center;
    height: 100vh;
    width: inherit;
}
#food-img .img{
    width: 80%;
}
.heading{
    font-size: 35px;
}
.button{
   font-size: 14px;
   padding: 15px;
}
.button:hover{
    background: #FE4B2E;
    color: #f4f4f4;
}
.fd p{
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 15px;
}
.btn{
    margin-top: 2%;
    text-transform: capitalize;
}
#recipies{
    margin-top: 40px;
    margin-bottom: 10px;
}
#recipies h1{
    font-size: 35px;
}
#recipies .para{
    padding: 0 30px;
}
.foods{
    width: 18%;
    height: 400px;
    margin:2%;
}
.img-logo{
    width: 100%;
    height: 30%;
}
.foods h2{
    font-size: 10px;
}
.foods p{
    font-size: 12px;
}
#one{
    margin-bottom: 70px;
}
.one-one{
    width: 55%;
    height: 50px;
    justify-content: center;
    padding: 15px;
}
.one-one div{
    margin: 0 18px;
}
.one-one div h4{
    font-size: 18px;
}
.one-one div p{
    font-size: 10px;
    letter-spacing: 1.2px;
}
footer{
    padding: 12px;
}
footer h3{
    font-size: 30px;
}
footer p{
    font-size: 12px;
}